<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UTEP Single Sign-On</title>
<link rel="stylesheet" href="static/css/sign_on.css">

</head>
<body>

<div class="login-container">
    <img src="{{ url_for('static', filename='images/utep_logo.png') }}" alt="UTEP Logo" class="logo">
    <h1>UTEP Single Sign On</h1>
    <form action="/main_page"> 
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <a href="/main_page" >
            <button type="submit" class="login-button">Sign In</button>
        </a>
    </form>
    <p class="warning-text">
        Unauthorized use of this system is prohibited. Usage may be subject to security testing and monitoring. Misuse is subject to criminal prosecution; and no expectation of privacy except as otherwise provided by applicable privacy laws. Use of this site is subject to UTEP's policies. Any use of this site not covered by UTEP policy is prohibited.
    </p>
</div>

</body>
</html>
