<!DOCTYPE html>
<html lang = "en"> 
    <head> 
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name ="viewport" content ="width=device-width, initial-scale=1.0">
        <title> UTEP </title>
        <link rel="stylesheet" type = "text/css" href = "static/css/home.css">
    </head>
    <body>
        <header>
            <a href="main_page.html" class="logo"><img src="static/images/utep_logo.png" alt="Logo" width="100" height="100"></a>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
    </body>
</html> 