{% extends 'admin_template.html'%}
{% block title%} Administrator{%endblock title%}
{% block body %} 
    <h1>Upload PDF</h1>
    {% if request.method == 'GET' %}
    <form action="/main_page" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>
    {% else %} <!-- Document has been uploaded -->
    <p>{{filename}} uploaded</p>
    {% endif %}
<style>
    #upload {
        background-color: var(--silver-25);
    }
</style>
{% endblock body %}