<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>UTEP Admin</title>
        <link rel="icon" href="https://cdn.utep.edu/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="static/css/home.css">

    </head>
   <body>
        <div class="header">
            
            <img src="{{ url_for('static', filename='images/utep_logo.png') }}" alt="UTEP Logo" class="logo">  
            <div class="loginTitle">The University of Texas At El Paso</div> 
          

            <section class="section">
                HELLO WORLD!!
            </section>
    

        
        </div>

      
    </body>

  
    
    
</html>