:root {
	/* Number after the color represents opacity */
	--orange-100:#f68c1e;
	--orange-75: #f9a654;
	--orange-50: #fcc186;
	--orange-25: #fddebe;
	--blue-100:#041e42;
	--blue-75:#243b68;
	--blue-50:#5b6a91;
	--blue-25:#9da6c2;
	--silver-100:#b6b9be;
	--silver-75:#c5c8cc;
	--silver-50:#d7d8db;
	--silver-25:#eaeaec;
	--font-title: 'Montserrat', sans-serif;
    --paragraph-color:#4d4d4ee6;
	/* Other variables */
	--shadow:0px 3px 6px rgba(0, 0, 0, 0.1); 
}
* {box-sizing:border-box;}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
a, a:visited {
    text-decoration: none;
}
.admin-sidebar {
    position: fixed;
    top: 0px;
    width: 200px;
    z-index: 1039;
    height: 100%;
    background-color: var(--blue-100);
    display:flex;
    flex-direction: column;
}
.logo-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    border-bottom: solid 1px white;
}
.logo-container img {
    display:block;
    height: 70px;
    width:auto;
}
.logo-container a:hover {
    background-color: var(--blue-100) !important;
}
.admin-sidebar a {
    color: white;
    font-weight: 500;
    padding:25px 10px;
    display:flex;
    align-items: center;
    transition: .2s ease-in-out;
    margin-bottom: 5px;
}
.admin-sidebar a:hover {
    background-color: var(--blue-75);
}
svg {
    height: 22px;
    width: auto;
    margin-right: 15px;
}
nav {
    display:flex;
    flex-direction: column;
    height:125px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
    padding-left:200px;
    background-color: white;
}
#nav-top, #nav-header {
    display:flex;
    height:50%;
    width: 100%;
    border-bottom: 1px solid var(--silver-50);
    padding-right: 25px;
    box-sizing: border-box;
}
#nav-top {
    justify-content: end;
    align-items: center;
}
#nav-top a {
    color: var(--paragraph-color);
    display: flex;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    border: 1px solid var(--silver-50);
    transition: .2s ease-in-out;
}
#nav-top a:hover {
    box-shadow: var(--shadow);
}
#nav-header h1{
    /* color: var(--paragraph-color); */
    font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
    font-weight: 600;
    margin-left:20px;
    font-size: 21px;

}
.admin-hero {
    background-color: var(--silver-25);
    display:flex;
    height: auto;
    width: calc(100% - 200px);
    margin-left: 200px;
    min-height: calc(100% - 125px);
}
/* nav {
    display:flex;
    height: 8%;
    width:100%;
    background-color: var(--blue-100);
    align-items: center;
}
nav img {
    height: 50px;
    width:auto;
    margin-left:30px;
}
nav p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
}

.admin_sidebar {
    background-color: white;
    height: 100%;
    width: 20%;
    border-right: 1px solid var(--silver-75);
    display:flex;
    flex-direction: column;
}
.admin_sidebar a {
    color: var(--blue-100);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid var(--silver-75);
    padding: 30px 0 30px 0;
    transition: .2s ease-in-out;
}
.admin_sidebar a:hover {
    background-color: var(--silver-25);
}
.admin_body {
    height:auto;
    width: 100%;
    padding: 40px;
} */