.header {
    background-color: #011f41;
    top: 0;
    position: fixed;
    height: 95px;
    width: 100%;
    display: block;
    z-index: 9;
    padding: 0;
}
.body {
margin: 0;
}
.logo {
    height: fit-content;
    image-rendering: utep_logo;
    width: 100px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: auto;
  }
  code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
  }
  section{
    
    margin: 0 1.5% 24px 1.5%;
    background-color: #011f41;
    margin-bottom: 80px;
    width: 200PX;

  }
  aside{
    margin: 0 1.5% 24px 1.5%;
    background-color: #011f41;
  }
  footer {
    margin: 0 1.5% 24px 1.5%;
  }
  section {
    display: inline-block;
    width: 200;
    box-sizing: 100px;
    padding-bottom: 200px;
  }
  footer {
    margin-bottom: 0;
  }
  .loginTitle {
    color: #FFFFFF;
    font-size: 33px;
    font-family: Arial, sans-serif;
}