
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    background-color: #011f41;
}

header ul
{
    display: flex; 
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;   
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    font-size: 2em;
}
header ul li a:hover,
header ul li a.active
{
    
    color: #fff;
}

.body {
    margin: 0;
}

.update {
    background-color: red;
    z-index: 1000;
}

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 500;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border: 4px dashed orange;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}